#forgotbox
{
height:200px;
}

#forgotbox p {
padding:5px;
}

#resetpassbox
{
height:200px;
}

#settingsbox
{
height:300px;
}

#changeemailbox
{
height:300px;
}

#changepasswordbox
{
height:300px;
}

#signupbox
{
height:460px;
}

#loginbox
{
padding-top:20px;
height:120px;
}

#signupcontainer p
{
text-align:justify;
}

#signupcontainer ul
{
-webkit-padding-start:20px;
font-size:10px;
}

#signuptitle{
padding:5px 0 3px 0;
}

.glasspanel
{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
visibility:hidden;
position:fixed;
left:-210px;
top:13%;
width:200px;
padding:5px 5px 5px 5px;
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fa00BBFE,endColorstr=#fa00BBFE);
background-color:rgba(0,187,254,0.97);*/
background-color:#B0EAFF;
text-align:left;
display:block;
font-size:0.75em;
}

.glasspanel input[type=password]
{
letter-spacing:2px;
}