#chatbox
{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
position:fixed;
width:200px;
height:400px;
left:10px;
bottom:0;
font-size:0.8em;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F00BBFE,endColorstr=#7F00BBFE);
background-color:rgba(0,187,254,0.5);
text-align:left;
display:block;
color:white;
}

.chatpadding
{
position:absolute;
}

#chattitle
{
padding:5px 0 8px 0;
}

.chattitle
{
padding:2px 2px 2px 2px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6f00BBFE,endColorstr=#6F00BBFE);
background-color:rgba(0,187,254,0.4);
word-wrap:break-word;
height:auto;
position:relative;
border-bottom:1px solid #25C4FD;
}

.chattext
{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
width:100%;
height:360px;
margin:5px 5px;
word-wrap:break-word;
resize:none;
overflow:auto;
font-size:0.85em;
}

.messageoutbox
{
position:fixed;
display:block;
width:196px;
padding:2px 2px;
left:10px;
bottom:5px;
color:#ADADAD;
}

.chatbutton
{
display:inline-block;
color:white;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
padding-left:12px;
padding-right:12px;
margin-top:5px;
cursor:hand;
cursor:point;
}

.chatbutton::-moz-focus-inner
{
    padding: 0;
    border: 0
}

.leftarrowbutton
{
/*position:absolute;
top:15%;
right:0;*/
float:right;
margin-top:3px;
margin-right:3px;
}

.leftarrowbutton:hover
{
margin-right:4px;
}

.rightarrowbutton
{
/*position:absolute;
top:15%;
right:0;*/
/*float:left;*/
margin-top:3px;
margin-left:3px;
}

.rightarrowbutton:hover
{
margin-left:4px;
}

#showchatbutton
{
visibility:visible;
left:60px;
bottom:25px;
position:fixed;
}

.closebtn
{
position:absolute;
right:2px;
top:2px;
}

.chattitletext
{
width:180px;
}

.mytext{
padding:2px 0;
color:#F2FCFF;
}

.yourtext{
padding:2px 0;
color:#F5FFF6;
}

#chattitlecontainer
{
width:100%;
overflow:auto;
max-height:200px;
}

#chatinformation
{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
width:95%;
height:75px;
margin:5px 5px;
text-align:justify;
resize:none;
}

#signupinformation
{
display:none;
text-align:justify;
}

#chatheader
{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AF00BBFE,endColorstr=#AF00BBFE);
background-color:rgba(0,187,254,0.7);
padding:2px 2px 2px 2px;
height:20px;
}

#chatheader > div
{
width:50%;
}

#chatheader > img
{
cursor:pointer;
position:absolute;
top:2px;
right:2px;
}

#chatheader > img:nth-child(2)
{
clip:rect(0px,18px,18px,0px);
}

#chatheader > img:nth-child(3)
{
clip:rect(0px,36px,18px,18px);
}

#pastmessagescontainer
{
width:100%;
overflow:auto;
height:100%;
}

#pastmessagescontainer > div
{
padding:5px 5px;
}