#bottombanner{
position:fixed;
width:100%;
height:30px;
bottom:0;
border-top:1px solid #c9c9c9;
background:#E3F4FF;
font:0.6em verdana;
}

#bottombanner > div {
position:absolute;
width:100%;
}

#bottombanner > div > ul {
position:relative;
margin-left:auto;
margin-right:auto;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
-webkit-padding-start: 0;
 display:block;
 width:600px;
}

#bottombanner > div > ul > li {
float:left;
list-style:none;
padding-left:10px;
padding-right:10px;
}