#navbar
{
position:fixed;
top:0;
width:100%;
/*min-width:1150px;*/
height:auto;
color:white;
-moz-box-shadow: 0 3px 4px black;
-webkit-box-shadow: 0 3px 8px 3px black;
box-shadow: 0 -1px 8px 3px black;
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
text-align:left;
}

#navbar > div
{
width:100%;
height:100%;
}

#brand
{
float:left;
}

#brand > img
{
border:0;
}

#interact
{
float:right;
-webkit-padding-start:0px;
-webkit-margin-before:0px;
-webkit-margin-after:0px;
/*height:50px;*/
margin:13px 150px 5px 0;
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
padding:0;
}

#interact > li
{
padding:0 10px 0 10px;
float:right;
list-style:none;
font-weight:bold;
height:25px;
/*margin-top:18px;*/
}

#navpost
{
color:#FAF616;
}

#navpost:hover
{
color:#FBFBFB;
}

#navsearchbar
{
box-sizing: border-box;
padding-left:5px;
text-align:left;
color:#ADADAD;
font-weight:500;
-webkit-border-top-left-radius: 2px;
-webkit-border-bottom-left-radius: 2px;
-moz-border-top-left-radius: 2px;
-moz-border-bottom-left-radius: 2px;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
width:250px;
height:27px;
vertical-align:middle;
border-right:0;
font-size:13px;
line-height:13px;
}

/* For Firefox */
@-moz-document url-prefix() { 
  #navsearchbar {
     height:21px;
  }
}

#navsearchbar:focus
{
	outline: none;
}

#welcomemessage
{
margin:20px 30px 0 15px;
float:left;
font-size:0.8em;
color:#FBFBFB;
}

#welcomemessage a
{
color:#FBFBFB;
font-weight:600;
}

#welcomemessage a:hover
{
color:#FFFF00;
}

#advsearch{

}

#searchgo
{
background-color:white;
margin:0px;
padding:0px;
height:25px;
width:auto;
margin-right:10px;
-webkit-border-top-right-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-top-right-radius: 2px;
-moz-border-bottom-right-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
border-left:0;
}

#advpanel
{
font-size:0.8em;
position:absolute;
top:48px;
left:50%;
margin-left:-400px;
height:127px;
text-align:left;
}

#advpanel > div
{
display:inline-block;
height:100%;
/*border: 2px inset #5cbcea;*/
padding: 5px;
margin-top: 5px;
}

#advpanel fieldset {
height:100%;
}

#advpanel table
{
padding:5px;
}

#advpanel td{
font-size:0.9em;
color:white;
}

#advpanel td > input[type=text]{
width:80px;
}

#advpanel input[type=range]{
width:75px;
}

#advpanel legend
{
color:white;
}

#fbfield
{
position:absolute;
top:50px;
left:50%;
margin-left:-63px;
}

#expfield
{
position:absolute;
top:50px;
left:15px;
height:20px;
display:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#level
{
position:absolute;
top:50%;
margin-top:-8px;
height:18px;
width:155px;
color:white;
font-weight:600;
font-size:0.95em;
text-align:left;
}

#expbar
{
position:absolute;
top:50%;
left:85px;
margin-top:-8px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
width:60px;
height:14px;
border:2px inset;
border-bottom-color:black;
border-right-color:black;
}

#expfill
{
display:inline-block;
float:left;
background-color:#DBF7FF;
width:80%;
height:100%;
}

#expinfo
{
position:absolute;
left:153px;
top:5px;
cursor:pointer;
}

/*location menu*/
#locations
{
float:left;
color:white;
padding:0px;
line-height:45px;
-webkit-padding-start: 0;
margin:3px 10px 0 10px;
height:51px;
}

#locations a
{
color:white;
text-decoration:none;
}

#locations > li{
float:left;
list-style:none;
cursor:pointer;
position:relative;
}

#locations > li a:hover
{
color:yellow;
}

/*location sub-menus*/
#locations ul 
{
padding:0px;
margin:0px;
display:block;
display:inline;
}

#locations li ul
{
position:absolute;
left:0px;
top:0px;
margin-top:32px;
line-height:16px;
color:white;
/* for IE */
display:none;
-webkit-padding-start:0px;
}

/*#locations li:hover ul
{
display:block;
}*/

#locations li ul li
{
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:block;
width:100%;
margin-top:2px;
padding:7px 5px;
list-style-type:none;
/*background-color:#0098CF;*/
border:1px solid white;
background-color:rgba(0,152,207,0.85);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dF0098CF,endColorstr=#dF0098CF);
}

#locations li ul li a
{
display:block;
color:white;
}
 
#locations li ul li a:hover
{
color:yellow;
}

#accountops
{
/*-webkit-padding-start:0;
-webkit-margin-before:0;
-webkit-margin-after:0;*/
margin-before:0;
margin-after:0;
padding-start:0;
margin:0;
display:none;
position:absolute;
right:15px;
top:20px;
font-size:0.75em;
color:#FBFBFB;
}

#accountops li
{
float:left;
list-style:none;
cursor:pointer;
position:relative;
}

#accountops > li
{
margin-left:10px;
}

#accountops > li:hover
{
color:yellow;
}

#accountops li ul
{
position:absolute;
right:0px;
top:0px;
margin-top:20px;
padding:0;
line-height:16px;
color:white;
/* for IE */
display:none;
border:1px solid white;
-webkit-padding-start: 0px;
}

#accountops li ul li
{
display:block;
list-style-type:none;
width:150px;
padding-top:3px;
padding-bottom:3px;
/*background-color:#0098CF;*/
background-color:rgba(0,152,207,0.85);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dF0098CF,endColorstr=#dF0098CF);
}

#accountops li ul li a
{
display:block;
color:white;
}
 
#accountops li ul li a:hover
{
color:yellow;
cursor:pointer;
}

#guestops
{
/*-webkit-padding-start:0px;
-webkit-margin-before:0;
-webkit-margin-after:0;*/
margin-before:0;
margin-after:0;
padding-start:0;
margin:0;
position:absolute;
right:15px;
top:20px;
font-size:0.75em;
color:#FBFBFB;
}

#guestops li
{
float:left;
list-style:none;
cursor:pointer;
position:relative;
margin-left:10px;
}

#guestops > li:hover
{
color:yellow;
cursor:pointer;
}

/********************

      jQuery-ui

*********************/
/* The Slider handles */
.ui-slider-horizontal .ui-state-default {
    background: white no-repeat scroll 50% 50%;
}

/* The Slider */
#slider-range {
    border-radius: 25px;
    width: 80%;
	margin-left:5px;
}

#slider-value {
    border:0;
	background-color:transparent;
	color: white;
	font-weight: bold;
	width: 125px;
}

/* the tooltip */
.ui-tooltip  {
	font-size:7pt;
	padding:2px;
	margin:0;
}