html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
margin:0px 0px; 
padding:0; 
text-align:center; 
width:100%;
height:100%;
overflow: auto;
background: url(../img/bg_icon.png) no-repeat fixed center;
font-size:1em;
}

body{
margin:0px 0px; 
padding:0;
width:100%;
height:100%;
}

h1{
font-size:2.25em;
}

h2{
font-size:1.75em;
}

h3{
font-size:1.125em;
}

a{
text-decoration:none;
}

.themecolor{
background-color:#0083B2;
}

.themeborder{
border:1px outset #a2a2a2;
}

.themeborder:hover{
/*border:1px inset #a2a2a2;*/
}

.themegradient{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #00BCFF 0%, #00435C 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #00BCFF 0%, #00435C 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #00BCFF 0%, #00435C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00BCFF), color-stop(1, #00435C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #00BCFF 0%, #00435C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #00BCFF 0%, #00435C 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BCFF', endColorstr='#00435C');
}

.centerelement{
margin-left:auto;
margin-right:auto;
height:auto;
width:auto;
}

.contentcontainer{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
margin-top:85px;
border:1px inset #A8D2FF;
overflow:hidden;
margin-right:auto;
margin-left:auto;
width:55%;
min-width:519px;
height:auto;
background-color:rgba(255,255,255,0.7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow: 0 0 8px 0 black;
-webkit-box-shadow: 0 0 8px 0 black;
box-shadow: 0 0 8px 0 black;
padding:20px 20px;
text-align:justify;
text-justify:inter-word;
}

.contentcontainer:hover{
border:1px inset black;
}

.contentcontainer > h2
{
text-align:center;
}

.container{
width:70%;
min-width:720px;
margin-left:auto;
margin-right:auto;
height:auto;
}

.smallbutton{
font-weight:600;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
width:120px;
height:27px;
text-align:center;
vertical-align:center;
margin-top:-4px;
}

.bigbutton{
font-size:2.25em;
font-weight:600;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
width:200px;
height:50px;
text-align:center;
}

.smallfiller{
height:20px;
}

.filler{
height:70px;
}

.bigfiller{
height:200px;
}

.halfbody{
width:50%;
min-width:285px;
height:auto;
float:left;
}

.bottomline{
position:absolute;
bottom:0;
}

.textarea{
font-size:1em;
}

.inlineblock{
display:inline-block;
}

.floatleft{
float:left;
}

#radiobtns{
font-size:1.125em;
}

#postbtn{
color:white;
}

#postbtn:hover{
border:1px inset black;
}

#logo{
left:0;
bottom:15px;
}

#location{
left:220px;
font-size:1.25em;
font-weight:bold;
}

.cursorhand{
cursor: pointer;
cursor: hand;
}

.themetext{
color:#BA1E1E;
font-size:1.25em;
}

.wireframe{
border:1px solid red;
}

#alert{
display:none;
width:60%;
background:#30F0D9;
margin-right:auto;
margin-left:auto;
}

.good{
background:#30F0D9;
}

.bad{
background:#F5A9A9;
}

.blockdisplay{
display:block;
}

#iframeAlert{
display:none;
border:0;
width:0;
height:0;
}

.submitbtn
{
height:22px;
width:auto;
min-width:83px;
color:#f2f2f2;
margin-top:2px;
margin-left:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
display:inline-block;
}

.hidden{
display:none;
}

.visible{
display:block;
}

#info
{
font-size:0.9em;
text-align:center;
font-weight:600;
margin-right:auto;
margin-left:auto;
display:inline-block;
line-height:0;
margin-top:30px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#messagetext
{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
color:#C9C9C9;
width:97%;
height:100px;
resize:none;
padding:10px;
}

#frontpage
{
width:100%;
height:100%;
border-spacing:0px;
}

#frontpage td
{
vertical-align:middle;
width:20%;
min-width:210px;
/*transition: background 0.5s;
-moz-transition: background 0.5s;
-webkit-transition: background 0.5s;
-o-transition: background 0.5s;*/
}

#frontpage img
{
position:relative;
z-index:1000;
}

#frontfill1
{
background-color:#008ABD;
}

#frontsignup
{
background-color:#008ABD;
}

#frontsignup:hover
{
background-color:#16A7DB;
}

#frontedit
{
background-color:#008ABD;
}

#frontedit:hover
{
background-color:#16A7DB;
}

#frontsearch
{
background-color:#0077A3;
}

#frontsearch:hover
{
background-color:#1295c4;
}

#frontpost
{
background-color:#005A7B;
}

#frontpost:hover
{
background-color:#108AB5;
}

#frontfill2
{
background-color:#005A7B;
}

#searchform
{
}

#searchbar
{
color:#626262;
font-size:1.5em;
font-weight:600;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;
width:180px;
height:30px;
text-align:left;
}

.hoverunderline:hover
{
text-decoration:underline;
}

#frontbanner
{
width: 786px;
height: 400px;
position:absolute;
left:50%;
margin-left:-393px;
top:0;
cursor:pointer;
}

#loadingGIF 
{
background: url(../img/load_postonme.gif);
width: 195px;
height: 205px;
position: fixed;
left:50%;
top:50%;
margin-left:98px;
margin-top:103px;
z-index:1001;
}

#browsecategories
{
font-family: 'Quattrocento Sans', 'Cabin', sans-serif;
display:none;
position:absolute;
top:80px;
left:50%;
width:786px;
margin-left:-393px;
color:white;
}

#browsecategories > div
{
font-size:2em;
margin-bottom:20px;
}

#browsecategories > table
{
text-align:left;
font-size:1.2em;
width:100%;
}

#browsecategories td
{
width:33%;
padding-top:5px;
padding-left:20px;
}

#browsecategories td:hover
{
color:yellow;
cursor:pointer;
}