#gallery{
visibility:hidden;
position:fixed;
width:861px;
top:60px;
left:50%;
margin-left:-430px;
text-align:center;
}

#galleryimg{
width:auto;
padding:20px 20px 20px 20px;
background-color:rgba(227,244,255,0.4);
}

#advertisementFrameContainer
{
position:relative;
height:100%;
width:65%;
margin-right:auto;
margin-left:auto;

}

#advertisementFrame
{
position:absolute;
top:60px;
bottom:30px;
border:0;
width:100%;
/*height:90%;*/
/*padding-top:60px;
padding-bottom:30px;*/
font:0.825em verdana;
text-align:center; 
}

#iframeAccountPostsContainer
{
position:relative;
height:500px;
width:100%;
}

#iframeAccountPosts{
position:relative;
border:0;
width:100%;
height:100%;
bottom:0;
margin-right:auto;
margin-left:auto;
overflow-y:auto;
}
